.cart-container {
    display: grid;
}
.cart-headers, .cart-items, .total-container {
    display: flex;
    justify-content: space-around;
}

.cart-headers, .total-container {
    font-weight: 900;
}

.delete-icon {
    content: url("../../../assets/svgs/delete.svg");
}

.quantity-container {
    display: flex;
    justify-content: space-around;
}

.inc-icon {
    content: url("../../../assets/svgs/inc.svg");
}

.dec-icon {
    content: url("../../../assets/svgs/dec.svg");
}