<div class="container">
  <h2>Your Cart</h2>
  <h3 *ngIf="items.length === 0 ">Your cart is empty.</h3>
  <div *ngIf="items.length > 0" class="cart-container">
    <div class="cart-headers">
      <div>Remove</div>
      <div>Item No.</div>
      <div>Description</div>
      <div>Quantity</div>
      <div>Subtotal</div>
    </div>
    <div *ngFor="let item of items" class="cart-items">
      <div class="delete-icon" (click)="removeItem(item)"></div>
      <div>{{item.itemNo}}</div>
      <div>{{item.description}}</div>
      <div class="quantity-container">
        <div class="dec-icon" (click)="updateQuantity(item, 'decrement')"></div>{{item.quantity}}
        <div class="inc-icon" (click)="updateQuantity(item, 'increment')"></div>
      </div>
      <div>{{item.subtotal}}</div>
    </div>
  </div>
  <div class="total-container">
    <div></div>
    <div></div>
    <div>
      <strong>Total</strong>
    </div>
    <div>
      <strong>{{totalQuantity}}</strong>
    </div>
    <div>
      <strong>{{subTotal}}</strong>
    </div>

  </div>
  <button (click)="goToShipping()">Next</button>
</div>