.cart-headers, .cart-items, .total-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.cart-headers {
    font-weight: 900;
}

.delete-icon {
    content: url("../../../assets/svgs/delete.svg");
}

.quantity-container {
    display: flex;
    justify-content: space-around;
}

.inc-icon {
    content: url("../../../assets/svgs/inc.svg");
}

.dec-icon {
    content: url("../../../assets/svgs/dec.svg");
}

.flex-no {
    flex-basis: 5%;
}

.flex-des {
flex-basis: 40%;
}

.flex-del, .flex-sub {
    flex-basis: 35%;
}

.flex-quant {
    flex-basis: 10%;
}