.cart-headers, .cart-items, .total-container {
    display: flex;
    justify-content: space-around;
}

.cart-headers {
    font-weight: 900;
}

.shipping-container {
    display: grid;
    justify-content: center;
}