<div class="container">
  <div class="cart-container">
    <h2>Thank You for your order</h2>
    <div class="cart-headers">
      <div>Item No.</div>
      <div>Description</div>
      <div>Quantity</div>
      <div>Subtotal</div>
    </div>
    <div *ngFor="let item of cartItems" class="cart-items">
      <div>{{item.itemNo}}</div>
      <div>{{item.description}}</div>
      <div class="quantity-container">{{item.quantity}}</div>
      <div>{{item.subtotal}}</div>
    </div>
  </div>
  <h2>Shipping Information</h2>
  <div class="shipping-container" *ngIf="address">
    <div>
      <strong>Name:</strong> {{' ' + address.firstName + ' ' + address.lastName}}</div>
    <div>
      <strong>Address:</strong>{{' ' + address.address}}</div>
    <div>
      <strong>Email:</strong>{{' ' + address.email}}</div>
    <div>
      <strong>Phone:</strong>{{' ' + address.phone}}</div>
    <div>
      <strong>Special Instructions (if any):</strong>{{' ' + address.instructions}}</div>
  </div>
</div>