.catalog-container {
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    display: grid;
}

.item-size {
    width: 12.39vw;
}

.shirt-blank-m {
    content: url("../../../assets/images/m-blank.png");
}
.shirt-blue-m {
    content: url("../../../assets/images/m-blue.png");
}
.shirt-red-m {
    content: url("../../../assets/images/m-red.png");
}
.shirt-black-m {
    content: url("../../../assets/images/m-black.png");
}

.shirt-white-m {
    content: url("../../../assets/images/m-white.png");
}

.shirt-blank-w {
    content: url("../../../assets/images/w-blank.png");
}
.shirt-blue-w {
    content: url("../../../assets/images/w-blue.png");
}
.shirt-red-w {
    content: url("../../../assets/images/w-red.png");
}
.shirt-black-w {
    content: url("../../../assets/images/w-black.png");
}

.shirt-white-w {
    content: url("../../../assets/images/w-white.png");
}

.size{
    position: relative;
    top: -12vw;
    border: 3px solid blue;
    background-color: lightblue;
    width: 2vw;
    height: 1.5vw;
    text-align: center;
    padding-top: 0.4vw;
    justify-self: center;
    font-size: 1.05vw;
}

.price{
    position: relative;
    top: -10vw;
    border: 3px dashed red;
    background-color: rgb(235, 176, 176);;
    width: 3vw;
    height: 1.5vw;
    text-align: center;
    padding-top: 0.4vw;
    justify-self: center;
    font-size: 1.05vw;
}

.item-btns {
    display: flex;
    justify-content: space-around;
}
