<div class="container">
  <h2>Review your order</h2>
  <div class="cart-container">
    <div class="cart-headers">
      <div class="flex-no">Item No.</div>
      <div class="flex-des">Description</div>
      <div class="flex-quant">Quantity</div>
      <div class="flex-sub">Subtotal</div>
    </div>
    <div *ngFor="let item of finalCart.items" class="cart-items">
      <div class="flex-no">{{item.itemNo}}</div>
      <div class="flex-des">{{item.description}}</div>
      <div class="flex-quant">{{item.quantity}}</div>
      <div class="flex-sub">{{item.subtotal}}</div>
    </div>
  </div>
  <div class="total-container">
    <div class="flex-no"></div>
    <div class="flex-des">
      <strong>Total</strong>
    </div>
    <div class="flex-quant">
      <strong>{{finalCart.totalQuantity}}</strong>
    </div>
    <div class="flex-sub">
      <strong>${{finalCart.totalPrice}}</strong>
    </div>
  </div>
  <h2>Shipping Information</h2>
  <div class="shipping-container" *ngIf="address && user">
    <div>
      <strong>Name:</strong> {{' ' + user.name}}</div>
    <div>
      <strong>Address:</strong>{{' ' + address.address + ', ' + address.city + ', ' + address.state + ', ' + address.zip + ', ' +
      address.country}}</div>
    <div>
      <strong>Email:</strong>{{' ' + user.email}}</div>
    <div>
      <strong>Phone:</strong>{{' ' + user.mobile}}</div>
    <div>
      <strong>Special Instructions (if any):</strong>{{' ' + address.instructions}}</div>
  </div>
  <div class="address-container">
    <input type="checkbox" name="differentAddress" value="true" (change)="differentAddress()"> Ship to a different address?
    <app-shipping *ngIf="hasDifferentAddress" [hasDifferentAddress]="hasDifferentAddress"></app-shipping>
  </div>
</div>